@import "bootstrap/dist/css/bootstrap";

.navbar {
  background-color: rgb(39, 36, 36) !important;
  margin-left: 0px;
  margin-right: 0px;
}

#logo {
  color: white !important;
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#link1 {
  color: white !important;
}

#jumbo {
  background-image: url("car.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#title {
  color: rgb(153, 36, 36) !important;
}
htlm,
body {
  height: 100%;
  color: darkgray;
  margin: 0px;
}
#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}
#sticky-footer {
  flex-shrink: none;
  padding: 10px;
}
#home-container {
  margin-top: 0px;
  background-color: lightgrey;
}

#navbarSupportedContent {
  color: white;
}
.navbar-collapse {
  color: white;
}
a.nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #333;
}
#current_user {
  margin-bottom: 10px;
}
#access {
  font-size: larger;
  font-weight: 1000;
}
