@import "bootstrap/dist/css/bootstrap";

.navbar {
  background-color: rgb(39, 36, 36) !important;
  margin-left: 0px;
  margin-right: 0px;
}

#logo {
  color: white !important;
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#link1 {
  color: white !important;
}
